---
layout: default
title: "Publications - SARAH SANDERSON, PHD CANDIDATE"
active: publications
---

<!-- Header image gallery (banner) -->
<div class="wsite-header-section">
  <div class="wsite-section-content">
    <div class="container">
      <div class="banner">
        <div class="wsite-section-elements">
          <div class="imageGallery" style="line-height:0;padding:0;margin:0;">
            <div style="float:left;width:33.28%;margin:0;">
              <div style="position:relative;margin:5px;">
                <div class="galleryImageHolder">
                  <div class="galleryInnerImageHolder">
                    <a href="images/610157be-0c69-45e5-958a-68353fcbd5a5_orig.jpeg" data-lightbox class="gallery-link">
                      <img src="images/610157be-0c69-45e5-958a-68353fcbd5a5.jpeg" class="galleryImage" style="position:absolute;border:0;width:100%;top:-16.67%;left:0%;" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div style="float:left;width:33.28%;margin:0;">
              <div style="position:relative;margin:5px;">
                <div class="galleryImageHolder">
                  <div class="galleryInnerImageHolder">
                    <a href="images/fca7ff95-cda3-4975-af47-23dd23480a38_orig.jpeg" data-lightbox class="gallery-link">
                      <img src="images/fca7ff95-cda3-4975-af47-23dd23480a38.jpeg" class="galleryImage" style="position:absolute;border:0;width:100%;top:-16.67%;left:0%;" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div style="float:left;width:33.28%;margin:0;">
              <div style="position:relative;margin:5px;">
                <div class="galleryImageHolder">
                  <div class="galleryInnerImageHolder">
                    <a href="images/02d0be00-978e-487a-aef3-cf19f98b519f_orig.jpeg" data-lightbox class="gallery-link">
                      <img src="images/02d0be00-978e-487a-aef3-cf19f98b519f.jpeg" class="galleryImage" style="position:absolute;border:0;width:100%;top:-16.67%;left:0%;" alt="">
                    </a>
                  </div>
                </div>
          </div>
            </div>
            <span style="display:block;clear:both;height:0;overflow:hidden;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div id="wsite-content">

    <div class="wsite-section-wrap">
      <div class="wsite-section wsite-body-section">
        <div class="wsite-section-content">
          <div class="container">
            <div class="wsite-section-elements">

              <h2>Published</h2>

              <div class="paragraph" style="text-align:left;color:#3f3f3f;">
                {% assign published = site.data.publications | where: "status", "published" %}
                {% assign year_groups = published | group_by: "year" | sort: "name" | reverse %}
                {% for group in year_groups %}
                  <u><em>{{ group.name }}</em></u><br><br>
                  {% for pub in group.items %}
                    {{ pub.text | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}{% if pub.doi %}&nbsp;<a href="{{ pub.doi }}" target="_blank" style="color:#3f3f3f;">{{ pub.doi }}</a>{% endif %}<br><br>
                  {% endfor %}
                {% endfor %}
              </div>

              <h2>In review</h2>

              <div class="paragraph">
                {% assign in_review = site.data.publications | where: "status", "in_review" %}
                {% for pub in in_review %}
                  {{ pub.text | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}<br><br>
                {% endfor %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
